<div class="container start">
    <nav class="menu">
        <ul>
            <li>{{> Reference page="login" label="Авторизация" }}</li>
            <li>{{> Reference page="registration" label="Регистрация" }}</li>
            <li>{{> Reference page="chats" label="Список чатов" }}</li>
            <li>{{> Reference page="page404" label="Страница 404" }}</li>
            <li>{{> Reference page="page500" label="Страница 500" }}</li>
            <li>{{> Reference page="profile" label="Профиль" }}</li>
        </ul>
    </nav>
</div>