<div class="container">
    <form>
        <h2>Вход</h2>
        {{> Input name="login" type="text" label="логин" id="login" }}
        {{> Input name="password" type="password" label="пароль" id="password" }}
        {{> Button label="Войти" page="chats" }}
        {{> Button label="Зарегистрироваться" page="registration" }}
    </form>
</div>
