<div class="div_chat_element {{#if active}}chat_active{{/if}}">
    <img class="chat_element_img" src="{{ ava }}" height="40px" width="40px" />
    <span class="chat_element_name">{{ name }} </span>
    <p>{{ last_text }} </p>
</div>