.profile_img {
    content: url("../../assets/prof.jpg");
    width: 100px;
    height: 100px;
    border-radius: 100%;
    padding-top: 10px;
    cursor: pointer;
    display: inline;
    float: none;
  }