$bg_main: #dce0e0;
$bd_all: 1px solid #000;

.main_div {
    width: 40%;
    background: $bg_main; /* Цвет фона */
    border: $bd_all; /* рамка */
    margin: 5% auto;
    /*border-radius: 10px; /* Радиус скругления */
    text-align: center;
   }

.main_form_inn_elem {
    margin-top: 10px;
   }

button.main_form_inn_elem {
    margin-bottom: 10px;
    border-radius: 10px;
   }

label.main_form_inn_elem {
    display: block;
   }