<div class="div_lenta_element div_lenta_element_{{ senderClass }}">
    <span class="lenta_element_text {{ senderClass }}">{{ message }} </span>
    <span class="dateMessage">{{ dateMessage }}</span>
</div>